* {
    padding: 0%;
    margin: 0%;
}

body {
    background-image: url(images/footprint_2-Recuperado_2.png);
    background-size: 100%;
}


/*INICIO Barra de Navegacion*/

header {
    width: 100%;
}

header .bars {
    display: none;
}

header nav {
    width: 100%;
    position: fixed;
    z-index: 250;
    background: rgba(0, 0, 0, 0.699);
    margin-bottom: 20px;
}

nav ul {
    margin-left: 10px;
    float: right;
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    height: 10.4%;
    text-align: right;
    text-decoration: none;
    margin-top: 2%;
}

.logo {
    width: 60px;
    height: 60px;
    position: relative;
    left: 1%;
    margin-top: 10px;
    margin-left: 10%;
}

.logo:hover {
    text-decoration: none;
}


/*FIN Barra de Navegacion*/


/*INICIO Botones Redes Sociales*/

.social {
    margin-top: 85px;
    position: fixed;
    z-index: 200;
}

.fa-facebook {
    padding: 9px;
    margin-left: 10%;
    margin-bottom: 4px;
    font-size: 200%;
    width: 47px;
    height: auto;
    text-decoration: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 2px;
    border-color: #3498db;
}

.fa-instagram {
    padding: 9px;
    margin-left: 10%;
    margin-bottom: 4px;
    font-size: 200%;
    width: 47px;
    height: auto;
    text-decoration: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0);
    ;
    border-style: solid;
    border-width: 2px;
    border-color: #3498db;
}

.fa-phone {
    padding: 9px;
    margin-left: 10%;
    font-size: 200%;
    width: 47px;
    height: auto;
    text-decoration: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0);
    ;
    border-style: solid;
    border-width: 2px;
    border-color: #3498db;
}

.fa:hover {
    text-decoration: none;
    background: grey;
    color: white;
}


/*FIN Botones Redes Sociales*/


/*INICIO Carousel (--->Sin acabar<---) */

#image1 {
    height: 100%;
}

#image1>img {
    width: 100%;
    height: auto;
}

#tassevarld {
    position: absolute;
    top: 90%;
    right: 40%;
}

.slogan {
    position: absolute;
    left: 57%;
    top: 55%;
    font-family: "futura-pt", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    color: black;
    margin-right: 7%;
}


/*FIN Carousel*/


/*INICIO Contenido (--->Sin acabar<---) */

#primera {
    margin-top: 5%;
    margin-bottom: 5%;
}

#segunda {
    margin-top: 5%;
    margin-bottom: 5%;
}

#primera>#aboutUs {
    z-index: 100;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#Ancla_2,
#Ancla {
    text-align: center;
    text-decoration: none;
    color: black;
    opacity: 1;
    width: 100%;
    font-size: 1.5em;
}

#segunda>#prices {
    z-index: 100;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.a:hover {
    text-decoration-line: none;
    color: black;
}

header nav ul {
    margin-right: 10%;
}

.ghost-button1 {
    color: #fff;
    background: #3498db;
    border: 1px solid #3498db;
    font-size: 125%;
    padding: 7px 20px;
    font-weight: normal;
    margin: 7px 2px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    min-width: 100px;
    font-weight: bold;
    border-radius: 10px;
}

.ghost-button1:hover,
.ghost-button1:active {
    color: #3498db;
    background: #fff;
}

.ghost-button2 {
    color: #3498db;
    background: #fff;
    border: 1px solid #3498db;
    font-size: 125%;
    padding: 7px 20px;
    font-weight: normal;
    margin: 7px 2px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    min-width: 100px;
    font-weight: bold;
    border-radius: 10px;
}

.ghost-button2:hover,
.ghost-button2:active {
    margin-top: 3px;
}

@media screen and (max-width:800px) {
    header nav {
        width: 80%;
        height: 100%;
        margin: 0;
        left: -100%;
        background: #3498db;
        position: fixed;
        z-index: 250;
    }
    header nav ul {
        float: none;
    }
    header nav ul li {
        /*Con esto abarcara todo lo que pueda de ancho*/
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        text-align: left;
        margin-right: 15px;
    }
    header nav button {
        display: block;
        width: 100%;
        font-size: 200%;
        background-color: #3498db;
        border: none;
    }
    header .bars {
        display: block;
        width: 100%;
        font-size: 200%;
        background-color: #3498db;
        border: none;
        width: 100%;
    }
    header .bars p {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 25px;
        float: left;
        margin: 10px;
    }
    header i {
        float: right;
        margin: 15px;
    }
    header.bars:hover {
        background-color: #7cc1ee;
    }
    .logo {
        position: absolute;
        top: 50%;
        left: 45%;
        margin-top: 100px;
    }
    .social {
        margin-top: 20px;
    }
    .slogan {
        font-size: 30px;
        top: 20%;
    }
}