* {
    padding: 0%;
    margin: 0%;
}

body {
    background-image: url(images/footprint_2_25.png);
    background-attachment: center center;
}


/*INICIO Barra de Navegacion*/

header {
    width: 100%;
    position: fixed;
    z-index: 200;
    background: rgba(0, 0, 0, 0.699);
}

nav ul {
    float: right;
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 135%;
    font-weight: bold;
    height: 10.4%;
}

nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background: #3498db;
    text-decoration-line: none;
}


/*FIN Barra de Navegacion*/


/*INICIO Botones Redes Sociales*/

.fa-facebook {
    padding: 9px;
    margin: 1%;
    margin-right: 0%;
    font-size: 200%;
    width: 42px;
    height: auto;
    text-decoration: none;
    border-radius: 50%;
    background: white;
}

.fa-instagram {
    padding: 9px;
    margin: 1%;
    font-size: 200%;
    width: 42px;
    height: auto;
    text-decoration: none;
    border-radius: 50%;
    background: white;
}


/*FIN Botones Redes Sociales*/


/*INICIO Logo*/

#logo {
    width: 60px;
    height: 60px;
    margin-left: 39%;
}


/*FIN Logo*/


/*INICIO Carousel (--->Sin acabar<---) */

.carousel,
.carousel-inner>.item>img {
    margin: 0;
    padding: 0;
    height: 100%;
}


/*FIN Carousel*/


/*INICIO Contenido (--->Sin acabar<---) */

#primera {
    margin-top: 10%;
    margin-bottom: 10%;
}

#segunda {
    margin-top: 10%;
    margin-bottom: 10%;
}

#primera>#aboutUs {
    z-index: 100;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#Ancla_2,
#Ancla {
    text-align: center;
    text-decoration: none;
    color: black;
    opacity: 1;
    width: 100%;
    background-color: crimson;
    font-size: 1.5em;
}

#segunda>#prices {
    z-index: 100;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.a:hover {
    text-decoration-line: none;
    color: black;
}