* {
    padding: 0%;
    margin: 0%;
}

body {
    background-image: url(images/footprint_2-Recuperado_2.png);
    background-size: 100%;
}

section {
    justify-content: center;
}


/*INICIO Barra de Navegacion*/

header {
    width: 100%;
}

header .bars {
    display: none;
}

header .nav2 {
    display: none;
}

header .nav1 {
    width: 100%;
    position: fixed;
    z-index: 250;
    background: rgba(0, 0, 0, 0.699);
    margin-bottom: 20px;
}

header .nav1 ul {
    margin-left: 10px;
    float: right;
    list-style: none;
    overflow: hidden;
    margin-right: 10%;
}

header .nav1 ul li {
    float: left;
    height: 10.4%;
    text-align: right;
    text-decoration: none;
    margin-top: 2%;
}

.logo {
    width: 180px;
    height: 60px;
    position: relative;
    left: 1%;
    margin-top: 10px;
    margin-left: 15%;
}

.logo:hover {
    text-decoration: none;
}


/*FIN Barra de Navegacion*/


/*INICIO Botones Redes Sociales*/

.social {
    margin-top: 85px;
    position: fixed;
    z-index: 200;
}

.circular-menu {
    display: none;
}

.fa-facebook {
    padding: 9px;
    margin-left: 10%;
    margin-bottom: 4px;
    font-size: 200%;
    width: 47px;
    height: auto;
    text-decoration: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 2px;
    border-color: #3498db;
}

.fa-instagram {
    padding: 9px;
    margin-left: 10%;
    margin-bottom: 4px;
    font-size: 200%;
    width: 47px;
    height: auto;
    text-decoration: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0);
    ;
    border-style: solid;
    border-width: 2px;
    border-color: #3498db;
}

.fa-phone {
    padding: 9px;
    margin-left: 10%;
    font-size: 200%;
    width: 47px;
    height: auto;
    text-decoration: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0);
    ;
    border-style: solid;
    border-width: 2px;
    border-color: #3498db;
}

.fa:hover {
    text-decoration: none;
    background: grey;
    color: white;
}


/*FIN Botones Redes Sociales*/


/*INICIO Carousel (--->Sin acabar<---) */

#image1 img {
    width: 100%;
    margin-bottom: 200px;
}

#tassevarld {
    position: absolute;
    margin-top: 47%;
    right: 40%;
}

.slogan {
    position: absolute;
    left: 57%;
    bottom: 3%;
    margin-top: 20%;
    font-family: "futura-pt", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 50px;
    opacity: 0.1;
    text-align: center;
    color: black;
    margin-right: 7%;
}

.text-prices {
    text-align: center;
    padding-top: 80px;
}

.text-prices h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


/*FIN Carousel*/


/*INICIO Contenido (--->Sin acabar<---) */

#second {
    margin-top: 2%;
    margin-bottom: 5%;
}

#second #aboutUs {
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}

#aboutUs {
    text-align: center;
    text-decoration: none;
    color: black;
    opacity: 1;
    width: 90%;
    font-size: 1.5em;
}

#aboutUs img {
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 20px 1px black;
}

.a:hover {
    text-decoration-line: none;
    color: black;
}

.ghost-button1 {
    color: #fff;
    background: #3498db;
    border: 1px solid #3498db;
    font-size: 125%;
    padding: 7px 20px;
    font-weight: normal;
    margin: 7px 2px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    min-width: 100px;
    font-weight: bold;
    border-radius: 10px;
}

.ghost-button1:hover,
.ghost-button1:active {
    color: #3498db;
    background: #fff;
}

.ghost-button2 {
    color: #3498db;
    background: #fff;
    border: 1px solid #3498db;
    font-size: 125%;
    padding: 7px 20px;
    font-weight: normal;
    margin: 7px 2px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    min-width: 100px;
    font-weight: bold;
    border-radius: 10px;
}

.ghost-button2:hover,
.ghost-button2:active {
    margin-top: 3px;
}

#tabla-precios {
    display: inline-block;
    width: 100%;
    margin-top: 100px;
    padding: 0 7%;
}


/*Columnas*/

.precio-col {
    display: inline-block;
    background-color: #f3f3f3;
    width: 100%;
    /*Este valor y el gran tamaño de mi pantalla era el culpable de la confusion*/
    max-width: 800px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px #ddd;
}

.container-body {
    background-color: #333;
    padding: 20px 0;
    display: flex;
    width: 100%;
    padding-left: 20px;
}

.column {
    color: #fff;
    /*Este caracteristica hace que los mas pequeños se queden abajo*/
    display: inline-block;
    /*Con esto arreglo el problema*/
    vertical-align: top;
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

.column-2 {
    padding-left: 100px;
}

.column p {
    font-size: larger;
    text-align: left;
}

.row1,
.row2,
.row3 {
    margin: 20px 0;
}

.row2 {
    padding-left: 3.5px;
}

.container-footer {
    background-color: black;
    color: #fff;
    text-align: center;
}

@media screen and (min-width:768px) {
    .precio-col {
        width: 32%;
        float: left;
        margin-right: 2%;
    }
    .precio-col:last-child {
        margin-right: 0;
    }
}


/*Headers*/

.precio-col-header {
    background-color: #333;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.precio-col:nth-child(2) .precio-col-header {
    background-color: #3498db;
}

.precio-col-header h3 {
    color: #f3f3f3;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
}

.precio-col-header p {
    text-align: center;
    color: #f3f3f3;
    font-size: 14px;
    margin-bottom: 0;
}


/*Características*/

.precio-col-features {
    padding: 0 20px 20px 20px;
}

.precio-col-features p {
    padding: 25px 0;
    margin: 0;
    text-align: center;
    border-top: 1px solid #ddd;
    font-weight: bold;
    font-size: larger;
}

@media screen and (max-width:800px) {
    #image1 img {
        margin-top: 55px;
        margin-bottom: 10px;
    }
    header .nav1 {
        display: none;
    }
    header .nav2 {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        left: -100%;
        background: #3498db;
        position: fixed;
        z-index: 250;
        margin-top: 55px;
    }
    header .nav2 ul {
        float: none;
    }
    header .nav2 ul li {
        /*Con esto abarcara todo lo que pueda de ancho*/
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        text-align: left;
        margin-right: 15px;
    }
    header button {
        display: block;
        width: 100%;
        font-size: 200%;
        background-color: #3498db;
        border: none;
    }
    header .bars {
        display: block;
        width: 100%;
        font-size: 200%;
        background-color: #3498db;
        border: none;
        position: fixed;
        z-index: 250;
    }
    header .bars p {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 25px;
        float: left;
        margin: 10px;
    }
    header i {
        float: right;
        margin: 15px;
    }
    header.bars:hover {
        background-color: #7cc1ee;
    }
    .logo {
        position: absolute;
        top: 50%;
        left: 6%;
        margin-top: 100px;
    }
    .social {
        display: none;
    }
    .slogan {
        font-size: 25px;
        top: 5%;
    }
    #tassevarld {
        margin-top: 58%;
    }
    #tabla-precios {
        margin-top: 20px;
    }
    .text-prices {
        margin-top: 0;
    }
    .container-body {
        display: inline-block;
    }
    .column-2 {
        padding-left: 20px;
    }
}